version: '3.8'
services:
  mongo:
    image: mongo:4.4
    container_name: webev_db
    ports:
      - 27017:27017
    networks:
      - webev_link

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: webev_back
    command: sh -c "yarn && yarn dev"
    ports:
      - 8000:8000
    volumes:
      - .:/webev-back
      - /webev-back/node_modules
    depends_on:
      - mongo
    networks:
      - webev_link
  
  puppeteer:
    build: puppeteer
    image: puppeteer-chrome-linux
    init: true
    cap_add:
      - SYS_ADMIN
    container_name: puppeteer-chrome
    tty: true
    stdin_open: true
    volumes:
      - /path/to/puppeteer/app:/app
    working_dir: /app

networks:
  webev_link:
    external: true